@media (max-width: 767px) {
  
    .center {
        padding-left: 16px;
        padding-right: 16px;
  }

  .top {
        background-color: $lightgreen;
        background-image: url(img/star_mobile.png), 
        url(img/star_mobile_2.png), url(img/star_mobile_3.png),
        url(img/star_mobile_4.png), url(img/vector_mobile.png);
        background-repeat: no-repeat;
        background-position:
        61px 135px, 120px 79px,
        calc(100% - 124px) 600px,
        calc(100% - 70px) 630px,
        calc(100%) 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: auto;

    &__head {
        font-size: 40px;
        line-height: 49px;
        width: 262px;
    }

    &__text {
        font-size: 16px;
        line-height: 20px;
    }

    &__link {
        font-size: 16px;
        line-height: 20px;
        }

    &__button {
        margin-top: 36px;
    }
  }

  .menu {
        height: 51px;
        width: auto;
        display: none;

    &__item {
        font-size: 16px;
    }

    &__img {
        width: 18px;
        height: 18px;
    }
  }

  .games {
    display: none;
  }

  .footer {
    height: 80px;
    font-size: 16px;
  }
}